<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MiniVue-Demo</title>
</head>
<body>
   <div id="app"> 
        <p>姓名：{{name}} {{obj.a.msg}}</p>
        <p>年龄：{{age}}</p>
        <p>地址: {{address}}</p>
        <button @click="increase">年龄+1</button>
        <input v-model="age" :name="name"> <br>
        <textarea v-model="select"></textarea>
        <select multiple="multiple" v-model="select">
            <option value="v1">0</option>
            <option value="v2">1</option>
            <option value="v3">2</option>
            <option value="v4">3</option>
        </select>
        <br>
        <br>
        <button @click="sayHi">sayHi</button>
        <br>
        <br>
        <label>
            <input type="radio" name="good" value="r1" v-model="pick">
            test1
        </label>
        <label>
            <input type="radio" name="good" value="r2" v-model="pick">
            test2
        </label>
        <label>
            <input type="radio" name="good" value="r3" v-model="pick">
            test3
        </label>
        <input v-model="pick">

        <br>
        <br>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">c1</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">c2</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">c3</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>

        <p v-text="name"></p>
        <p v-html="html"></p>
        <p v-show="show">这是一个v-show示例</p>

        <p v-if="if" el=1>{{address[0]}}</p>
        <p v-else el=2>{{address[1]}}</p> 

        <ul id="for">
            <li v-for="item in address">
                {{ item }}

                <p v-text="name"></p>
            </li>
        </ul>

        <button @click="reset">回复</button>
        <p v-my-directive="name">新指令</p>
        <p @click="sayHi">{{comTest}}</p>
        <p v-my-plugin="newAge">my-plugin</p>
        <my-component :name="obj" @send="sayTest">
            <template slot="header">
                <h1>有名字的slot</h1>
            </template>
            <template>
                <h1>没名字的slot</h1>
            </template>
        </my-component>

        <p v-text="obj.a.msg | capitalize | endding">abc</p>
        <p>{{obj.a.msg | capitalize}}</p>
        <p :name="obj.a.msg | capitalize">haha</p>
    </div>
</body>
<!-- <script>debugger</script> -->
<script src="./src/debugger.js"></script>
<script type="module" src="./index.js"></script>
</html>